
APP_NAME=AbraFlexiCHP
APP_DEBUG=true
DEBUG=true
ABRAFLEXI_DEBUG=true
EASE_LOGGER=syslog
EMAIL_FROM=fbchanges@localhost
SEND_INFO_TO=admin@localhost

ABRAFLEXI_LOGIN="api"
ABRAFLEXI_PASSWORD="74a?3z&3a2*MBHYR*^zx"


#ABRAFLEXI_URL="https://flexibee-dev.spoje.net:5434"
#ABRAFLEXI_LOGIN="admin"
#ABRAFLEXI_PASSWORD="Ekhuors3"
#ABRAFLEXI_COMPANY="spoje_net_s_r_o_"

WHA_SAVER="PdoSQL"
#WHA_SAVER="Kafka"
#WHA_SAVER="Api"

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=changes
DB_USERNAME=changes
DB_PASSWORD=changes
DB_SETUP=

PROCESSING_ENABLED=True
PATH=/usr/bin:/usr/local/bin
